/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

/* body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2C2C30;
} */

.blackbox-container {
  width: 600px;
  padding: 40px;
  border-radius: 60px;
  background-color: #1A1A1D;

  .logo {
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    color: #020203;
    font-weight: 900;
    font-size: 4rem;
  }
}

.home {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  button {
    margin-top: 10px;
  }
}

.menuHeaderAndLogoutWrapper {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    margin: 0;
  }

  button {
    position: absolute;
    right: 0;
    margin-top: 0;
  }

}

.forms {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  margin-top: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0a0a11;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  text-decoration: none;
}

.error {
  color: red;
  margin-top: 10px;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 5px;
    }
  }
}

.statusmessage {
  white-space: pre-wrap;
}

.requests-div {
  border: 1px solid white;
  padding: 0.8rem;
  border-radius: 10px;
  margin-top: 10px;
}